*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Benguiat";
    src: url("fonts/Benguiat\ Bold.ttf");
}

html, body{
    overflow-x: hidden !important; 
}

body {
    background-color: #0C0102;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins", sans-serif;
}

ul{
    list-style-type: none;
}

.hero {
    background-position: 50% 0%;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

picture{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    object-fit: cover;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}

.hero::before{
    content: "";
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgb(12, 1, 2, 0.00) 30%, #0C0102 100%);
}

.bg{
    background-image: url("assets/bg-sec2.webp");
    background-position: center;
    background-size: 81%;
    z-index: 2;
    position: relative;
    background-color: #0C0102;
}

.esquerda, .direita{
    z-index: 3;
    width: 30%;
}

button {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 16px 0px;
}

section {
    width: 100%;
    display: flex;
    padding: 0 7vw 7vw 7vw;
}

h2{
    font-size: 38px;
    font-weight: 500;
}

header {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 4vw;
     position: absolute;
     z-index: 9;
}

.esquerda{

    h3{
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 4px;
    }

    h1 {
        font-size: 3.7vw;
        font-family: "Benguiat";
    }
}

.direita {
    display: flex;
    flex-direction: column;
    align-items: end;
    p{
        font-size: 2vw;
        text-align: right;
        margin-bottom: 32px;
    }
}

.secao_cidade {
    flex-direction: column;
    position: relative;

    .titulo_cidades{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards_cidades{
        display: flex;
        justify-content: space-between;
        margin-top: 52px;

        .card{
            background-image: url("assets/card1.webp");
            background-size: cover;
            background-position: center;
            width: 32%;
            aspect-ratio: 16/9;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: 10px;
        }

        .card:nth-child(2){
            background-image: url("assets/card2.webp");
        }

        .card:nth-child(3){
            background-image: url("assets/card3.webp");
        }
    }
}

.secao_depoimentos{
    flex-direction: column;

    .logos{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .depoimentos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px;

        .depoimento{
            width: 32%;
        }
    }
}

.secao_obrigado{
    z-index: 2;
    position: relative;
    background-color: #0C0102;
    flex-direction: column;
    align-items: center;

    h2{
        margin-bottom: 48px;
    }

    ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        li{
            color: rgb(193, 181, 181);
        }
    }
} 

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/bg-footer.webp");
    background-size: cover;
    background-position: center;

    .conteudo_footer{
        display: flex;
        width: 100%;
        padding: 7vw;

        .logo_footer{
            width: 30%;
            h3{
                font-size: 24px;
                font-weight: 400;
                letter-spacing: 4px;
            }

            h2 {
                font-size: 3.7vw;
                font-family: "Benguiat";
            }
        }

        .secoes_footer{
            display: flex;
            flex: 1;
            justify-content: end;
            gap: 6%;
            align-items: start;

            h3{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 12px;
            }

            .social{
                ul{
                    display: flex;
                    flex-direction: row;
                    gap: 8%;
                }
            }
        }
    }

    .logotipos_footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 4vw;
    }

    .texto_infinito{
        width: max-content;
        display: flex;
        flex-direction: row;

        h3{
            color: rgb(199, 199, 199);
            font-size: 11vw;
            font-family: "Benguiat", sans-serif;
            mix-blend-mode: color-dodge;
            animation: texto_infinito 10s infinite linear;
            padding-left: 7vw;
        }
    }
}

@keyframes texto_infinito{
    100%{
        transform: translateX(-100%);
    }
}

/*PRELOADER*/

#pre_loader svg{
    width: 36vw;
    height: auto;
    transform: translateZ(0);
}

#pre_loader path{
    stroke: rgb(168, 19, 19);
    fill-opacity: 0;
    stroke-opacity: 0;
}

#pre_loader{
    inset: 0;
    position: fixed;
    background-color: #0C0102;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

/*RESPONSIVIDADE*/

@media(max-width: 1500px){
    .secao_cidade{
        padding: 4vw;
    }
}

@media(max-width: 1444px){
    .bg{
        background-position-y: 80px;
    }
}

@media(max-width: 1400px){
    .secao_cidade .cards_cidades .card{
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
}

@media(max-width: 1200px){
    .secao_obrigado h2{
        font-size: 3vw;
    }
}

@media(max-width: 1100px){
    .secao_obrigado{
        ul{
            flex-wrap: wrap;
            justify-content: center;
            gap: 2vw;
        }
    }
}

@media(max-width: 1000px){
    .esquerda{
        h3{
            font-size: 19px;
        }

        h1{
            font-size: 4.2vw;
        }
    }

    button{
        font-size: 14px;
    }

    .bg{
        background-position-y: 50px;
        background-size: 115%;
    }

    .secao_cidade{
        .card{
            h3{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        }
    }

    footer{
        .logo_footer{
            h3{
                font-size: 16px !important;
            }
        }
    }
}

@media(max-width: 900px){
    .secao_obrigado{
        h2{
            font-size: 3.16vw;
            text-align: center;
            margin-bottom: 24px;
        }

        ul{
            li{
                font-size: 15px;
            }
        }
    }
}

@media(max-width: 830px){
    footer{
        .conteudo_footer{
            .logo_footer{
            h3{
                font-size: 12px;
            }

            h2{
                font-size: 22px;
            }
        }
        .secoes_footer{
            gap: 2%;
            h3{
                font-size: 14px;
            }
            .institucional{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }
            .parceiro{
                margin-left: 3%;
                img{
                    width: 90%;
                }
            }

            .social{
                ul{
                    gap: 3%;
                }
                img{
                    width: 90%;
                }
            }
        }
        }
    }
}

@media(max-width: 800px){
    .esquerda{
        h3{
            font-size: 18px;
        }

        h1{
            font-size: 5.5vw;
        }
    }
}

@media(max-width: 760px){
    .esquerda{
        h3{
            font-size: 13px;
        }
    }

    button{
        font-size: 12px;
    }

    #pre_loader svg {
        width: 60vw;
    }    
}

@media (max-width: 660px){
    .secao_cidade{
        button{
            display: none;
        }
    }

    .bg{
        background-size: 120%;
    }
}

@media (max-width: 650px){
    .hero::before{
        padding-bottom: 30px;
        height: 110%;
        background: linear-gradient(180deg, rgb(12, 1, 2, 0.00) 20%, #0C0102 90%);
    }

    button{  
        font-size: 15px;
    }

    .bg{
        background-size: cover;
    }

    section{
        padding: 4vw;
    }

    h2{
        font-size: 6vw;
    }

    header h2{
        font-size: 28px;
    }

    main{
     .hero{
        flex-direction: column;
        padding: 26% 4vw 0;

        .esquerda, .direita{
            width: 100%;
        }

        .esquerda{
            h3, h1{
                text-align: center;
            }

            h3{
                font-size: 22px;
            }

            h1{
                font-size: 12vw;
            }
        }

        .direita{
            align-items: start;
            p{
                font-size: 5vw;
                text-align: start;
                margin-bottom: 8px;
            }
        }
    }
   
    }
    
    .secao_cidade{
        margin-top: 30px;

        .cards_cidades{
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;

            .card{
                width: 100%;
            }
        }
    }

    .secao_depoimentos{
        margin-top: 80px;
        .logos{
            img:nth-child(1), img:nth-child(3){
                width: 20%;
            }

            img:nth-child(2){
                width: 40%;
            }
        }

        .depoimentos{
            flex-direction: column;
            gap: 46px;

            .depoimento{
                width: 100%;
            }
        }
    }

    .secao_obrigado{
        margin: 40px 0px 80px;
        h2{
            font-size: 25px;
        }
        ul{
            gap: 25px;
        }
    }

    footer{
        padding-top: 40px;
        .conteudo_footer{
            flex-direction: column;

            .logo_footer{
                width: 100%;

                h2, h3{
                    text-align: center;
                }

                h3{
                    font-size: 4.2vw !important;
                }

                h2 {
                    font-size: 10vw;
                }
            }

            .secoes_footer{
                flex-wrap: wrap;
                justify-content: center;
                align-items: start;
                gap: 5%;

                h3{
                    font-size: 18px;
                }

                .social{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin: 40px 0px 32px;

                    ul{
                        gap: 8%;
                        padding-right: 5%;
                        li{
                            img{
                                width: 7vw;
                            }
                        }
                    }
                }

                .institucional{
                    width: 45%;
                    ul{
                        li{
                            font-size: 3.3vw;
                        }
                    }
                }

                .parceiro{
                    width: 45%;
                    margin-left: 0%;

                    img{
                        width: 80%;
                    }
                }
            }
        }

        .logotipos_footer{
            margin: 52px 0px 8px;
        }

        .texto_infinito h3{
            font-size: 22vw;
        }
    }
}

@media(max-width: 450px){
    footer{
        .conteudo_footer{
            .secoes_footer{
                h3{
                    font-size: 14px;
                }

                .parceiro{
                    img{
                        width: 88%;
                    }
                }
            }
        }
    }
}

@media(max-width: 550px){
    .bg{
        background-size: 500%;
    }
}

@media(max-width: 400px){
    button{
        font-size: 12px;
    }
    .bg{
        background-size: 580%;
    }
}

